body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    p{
        color: rgb(104, 212, 42);
        border: 1px solid white;
        padding: 10px;
        font-size: xx-large;
        font-family: monospace;
    }
}