body {
    background-color: rgb(8, 0, 0);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    .bulb {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        img {
            width: 100px;
            border-radius: 100%;
            margin: 10px;
            background-color: inherit;


            bulb-off {
                display: inline;
            }

            bulb-on {
                display: none;
            }
        }

        button {
            border-radius: 100%;
            background-color: black;
            color: rgb(255, 253, 253);
            border: 1px solid black;


        }
    }



    p {
        color: rgb(104, 212, 42);
        border: 1px solid rgb(255, 255, 255);
        padding: 10px;
        font-size: xx-large;
        font-family: monospace;
    }

    #count {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(212, 247, 14);


    }


}